.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
  .landing {
    position: relative;
    background: url('back.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-bottom: -50px;
  }
  .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.myMsg{
  margin-left:45%;
  float: none;
  margin-top:10%;
}
.createAccount{
  float: left;
  margin-left: 20%;
}